body {
	background-image: url("header.jpg");
	background-size: cover;
	height: 100%;
}

.title {
	color: #3FA53F;
	font-size: 5em;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	
}

#mc-embedded-subscribe {
	background-color: orange;
	color: white;
}

.button {
	display: flex;
	justify-content: center;
	
	position:fixed;
	top: 50%;
	left: 50%;
	margin-left: auto;
    margin-right: auto;
    width: 8em;
}

#mc-embedded-subscribe { 
background-color: green;
border-color:  green;
border-width: 7px;
}